asttokens==2.0.4
appdirs==1.4.4
atomicwrites==1.4.0
attrs==20.3.0
black==20.8b1
bleach==3.2.1
bumpversion==0.6.0
certifi==2020.12.5
chardet==4.0.0
Click==7.1.2
coverage==5.3.1
coveralls==2.2.0
docopt==0.6.2
docutils==0.16
filelock==3.0.12
idna==2.10
invoke==1.4.1
Jinja2==2.11.2
MarkupSafe==1.1.1
more-itertools==8.6.0
pkginfo==1.6.1
pluggy==0.13.1
py==1.10.0
pyperclip==1.8.1
Pygments==2.7.3
pytest==6.2.1
pytest-cov==2.10.1
readme-renderer==28.0
requests==2.25.1
requests-toolbelt==0.9.1
six==1.15.0
toml==0.10.2
tox==3.20.1
tqdm==4.54.1
twine==3.2.0
urllib3==1.26.2
virtualenv==20.2.2
webencodings==0.5.1
