appdirs==1.4.3
atomicwrites==1.3.0
attrs==19.3.0
black==19.10b0
bleach==3.1.4
bumpversion==0.5.3
certifi==2020.4.5.1
chardet==3.0.4
Click==7.1.1
coverage==5.1
coveralls==1.11.1
docopt==0.6.2
docutils==0.16
filelock==3.0.12
idna==2.9
invoke==1.4.1
Jinja2==2.11.1
MarkupSafe==1.1.1
more-itertools==8.2.0
pkginfo==1.5.0.1
pluggy==0.13.1
py==1.8.1
Pygments==2.6.1
pytest==5.4.1
pytest-cov==2.8.1
readme-renderer==25.0
requests==2.23.0
requests-toolbelt==0.9.1
six==1.14.0
toml==0.10.0
tox==3.14.6
tqdm==4.44.1
twine==3.1.1
urllib3==1.25.8
virtualenv==20.0.15
webencodings==0.5.1
